* {
  transition: all 0.3s ease-in;
}

.App {
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: 20rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    /* Start from the bottom */
    opacity: 0;
    /* Start with full transparency */
  }

  100% {
    transform: translateY(0);
    /* End at the original position */
    opacity: 1;
    /* End with full opacity */
  }
}

.audio-player {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: #a0ecff;
  border-radius: 1rem;
  padding: 1%;
}

.record {
  margin-left: 10rem;
}

.chat {
  height: 30rem;
  width: 20rem;
  border-radius: 34px;
  background: #ffffff;
  box-shadow: 30px 30px 60px #ededed,
    -30px -30px 60px #ffffff;
  position: absolute;
}

.audio {
  width: 15rem;
  height: 2.5rem;
  border-radius: 1rem;
  margin-top: 0.8rem;
  animation: slideUp 0.4s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}